logs/
npm-debug.log
yarn-error.log
node_modules/
yarn.lock
coverage/
.idea/
run/
.vscode/
.DS_Store
*.sw*
*.un~
tmp/
Dockerfile
.gitlab-ci.yml
.travis.yml
appveyor.yml
.dockerignore
start.sh
product/
fonts/